@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: 'Open Sans', sans-serif;
    /* background-color: #fafafa; */
	height: 50vh;
	transition: background 0.2s linear;
}
/* .nav-container{
    background-color: #FFFFFF;
   
} */
.c-1{
    background-color: #fafafa; 
}
body.dark {
	background: #292C35;
}
.checkbox {
	opacity: 0;
	position: absolute;
}
.label {
	background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 17px;
    width: 32px;
    transform: scale(1.5);
    /* bottom: -18px; */
    top: 16px;
    /* right: 18px; */
    left: 178px;

}

.label .ball {
	background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 3px;
    height: 14px;
    width: 15px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(9px);
}


/* .fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
} */



.menu-vertical{
    background-color: #F9F9F9;
    padding-top: 0;
}
hr{
    margin: 0;
}
.texthead-1{
    color: #240F6E;
    /* font-weight: 400; */
    font: size 16px;
    line-height: 24px;
    padding: 48px 0 24px 16px;
    margin: 0;
}
.container .row .vertical-nav ul p, .card-head1, .dt, .loc {
    color: #676666;
    font-size: 12px;
    line-height: 20px;
    padding-left: 16px;
}
.vertical-nav ul{
    padding: 24px 0 22px 0;
}
.text-head{
    margin: 0;
    padding: 0 0 6px 0;
}
/* .nav-link{
    padding: 0;
    margin: ;
} */
.container .row .vertical-nav ul li .nav-link{
    color: #240F6E;
    font: size 16px;
    line-height: 24px;
}
.main{
    padding-left: 15px !important;
}
.head-exam,#page-2 .contact{
    color: #110343;
    font-size: 36px;
    line-height: 48px;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 24px;
    
}
.head-2, #page-2 .cont{
    color: #676666;
    font-size: 16px;
    line-height: 24px;
}
.head-3{
    color: #006CAA;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    background-color: #DEF4FD;
    border-radius: 4px;
    padding: 8px 0px 8px 14px;
    margin-bottom: 40px;
}
.material-symbols-outlined{
    vertical-align: top;
 
}
.card-container-1{
    margin-bottom: 20px;
}
.card-body{
    padding: 16px;
}
.card-head1{
    padding: 0;
}
.title-card{
    color: #110343;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    margin: 0;

}
.lon,.day,.time{
    color: #222121;
    font-size: 14px;
    line-height: 24px;
}
.card-link{
    color: #006CAA;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
}
.btn-edit, .btn-save{
    color: #110343;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    background-color: #C1D82F;
    border-radius: 4px;
    border: none;
    padding: 6px 16px 6px 18px;
}
.btn-link-1 button .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 40
}
.container-bot{
    background-color: #110343;
    color: #FFFFFF;
    margin-top: 52px;
}
.container-bot .row h3, .container-fluid .row  div{
    font-size: 14px;
    line-height: 24px;
}
.container-bot .row p{
    font-size: 13px;
    line-height: 20px;
}
#page-2 .qust,.mail,.sms,.market{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #676666;
}
.selected-1{
    width: 570px;
    background-color: #FFFFFF;
    height: 48px;
    color: #222121;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 16px;
}
.mail-1, .sms-1{
    color: #222121;
    font-size: 16px;
    line-height: 24px;

}
.mail-1 a, .sms-1 a{
    color: #006CAA;
    text-decoration: underline;
    font-size: 16px;
    line-height: 24px;
}
.market-1{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #676666;
    /* padding-bottom: 24px; */
    margin: 0;
}
.cont{
    margin: 0;
    padding-bottom: 40px;
}
.qust{
    margin: 0;
}
.row .loc, .row .dt{
    margin: 0;
    padding: 16px 0 4px 0;
}
.day{
    margin: 0;
}
.time{
    margin-bottom: 22px;
}
label{
    padding-bottom: 12px;
    padding-left: 18px;

}
/* input[type=checkbox]{
    margin: 0;
    padding-right: 19px;
} */
/* .info-1{
    padd
} */
.btn-save{
    width: 277px;
    height: 48px;
    padding: 12px 92px;
}
input[type=checkbox] {
    accent-color: #240F6E;
  }
#accordion{
    margin-top: 52px;
    
}
#accordion h5 button,p{
    color: #676666;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px
}
#accordion p{
    font-weight: 400;
    padding: 32px 16px 8px 16px;
    
}
input[type=submit]{
    width: 90px;
    height: 32px;
    color: #110343;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    background-color: #C1D82F;
    border-radius: 4px;
    border: none;
    padding: 5px 17px;
    margin-left: 1rem;
}
.change p{
    font-size: 20px;
    margin: 20px 0;
    color: #110343;
}
.change{
    display: none;
    margin-left: 17rem;
    /* margin-bottom: 1rem; */
    position: absolute;
    top: 70rem;
   border-radius: 5px;
    border: 2px solid;
    padding: 10px;
}
#mail,#mob{
    border: none;
    background-color: white;
    text-decoration: underline;
    color: #006CAA;
    font-size: 16px;
    line-height: 24px;
}

@media (max-width:767px){
    body{
        max-width: 100%;
        margin: 2% 5%;
    }
     #navbarMenu ul li a img,.t-1, .container-bot{
        display: none;
    }
    
    .selected-1{
        width: 270px;
    }
    .btn-save{
        max-width: 250px;
        padding: 12px 40px;
        /* float: none;
        margin: 0 auto; */
    }
  
}
@media (min-width:768px){
    #accordion,.t-2{
        display: none;
    }
   
    
}
